{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": false,
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^next/(.*)$|^(next)$",
    "^react$|^(react)$",
    "",
    "^@(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/stores/(.*)$",
    "^@/lib/(.*)$",
    "^@/types/(.*)$",
    "^[./](?!.*\\.css$)",
    "^.*\\.module\\.css$",
    "<TYPES>^(node:)",
    "<TYPES>",
    "<TYPES>^[.]"
  ],
  "importOrderCaseSensitive": false,
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx"],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "endOfLine": "lf"
}
